@import "tailwindcss";
@plugin "daisyui";

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.navbar-bg {
  background-color: #feefc3;
}

.btn-hover:hover {
  background-color: #fde68a;
  border: none;
}
.mybtn {
  color: #232f3e;
}
 .link-custom::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 102%;
    transition: all 0.4s;
  }

  .link-custom:hover::after {
    width: 100%;
  }
