@import "tailwindcss";
@plugin "daisyui";

@variant dark (&:where(.dark, .dark *));

body{
 font-family: 'Poppins', sans-serif;
}
@theme {
  
}

@layer components {
 
}
@layer modal {
  .brand-font{
   font-family: 'Kalam', cursive;
  }
  .modal-box {
    @apply bg-white text-black dark:bg-gray-900 dark:text-white;
  }

  .input , .textarea{
    @apply bg-white  text-black  dark:bg-gray-700 dark:text-white focus:outline-none border-2 focus:border-yellow-200;
  }
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.mybtn {
  color: #232f3e;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 102%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}